body {
    background-color: 	#E1E0DF;
    text-align: center;

}
h1, p {
    color: black;
}

img {
    width: 15%;
    height: auto;
}


.results{
    overflow: auto;
    padding: 10px;
    background-color: white;
    display: inline-block;
    width: 30%;
}
#reversed{
    letter-spacing: 25px;
}

#bottom{
    margin-top: 30px; 
}

